@media screen and (max-width: 1200px) {

    .nav__item {
        padding: 0 8px 0 8px;
    }

}

@media screen and (max-width: 992px) {

    .nav__list {
        display: none;
    }

    .portfolio__title {
        font-size: 35px;
    }

    .button_container {
        display: block;
    }
}


@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .hello__title {
        font-size: 12vw;
    }
    .hello__paragraph {
        font-size: 5vw;
    }

    .hello__fadown {
        font-size: 45px;
    }
    
    .about__title {
        font-size: 35px;
    }
    
}


@media (min-width: 768px) {
    .drawer-list {
        width: 40vw;
    }
}


@media (min-width: 768px) {
    .drawer-list li a {
        text-align: right;
        padding: 0.5rem;
    }
}
