@media screen and (max-width: 1200px) {

    .header__item {
        padding: 0 10px 0 10px;
    }

}

@media screen and (max-width: 992px) {

    .header__nav {
        display: none;
    }

    .portfolio__title {
        font-size: 35px;
    }

    .portfolio__img {
        padding-bottom: 30px;
    }
    label.hamburger {
        display: block;
    }
}


@media screen and (max-width: 768px) {
    .footer {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 576px) {
    .header-content__title {
        font-size: 12vw;
    }
    .header__paragraph {
        font-size: 5vw;
    }

    .header__fadown {
        font-size: 45px;
    }
    
    .about__title {
        font-size: 35px;
    }
}
