.provide {
    margin-top: 100px;
    padding-bottom: 110px;
}

.provide:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: #ececec;

}

.provide__title {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 50px;
}

.provide__paragraph {
    margin-bottom: 60px;
    padding-right: 40px;
}

.provide__icon {
    font-size: 45px;
    padding-bottom: 25px;
    color: #ff2d2d;
}

.provide-service__title {
    color: #737373;
    padding-bottom: 10px;
}