h1,
h2 {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    font: inherit;
    padding: 0;
}

.btn {
    cursor: pointer;
    outline: none;
}

.title {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
}

.section {
    padding: 50px 0;
}


/* Section Hello */

.section_hello {
    background: url('/portfolio/build/img/parallax-6.jpg');
    background-size: cover;
    color: #fff;
    height: 722px;
    position: relative;
    width: 100%;
}

.section_hello:before {
    background-color: rgba(0, 0, 0, .6);
    content: "";
    height: inherit;
    position: absolute;
    width: inherit;
}

.welcome-box__title {
    left: 50%;
    margin-right: -50%;
    position: absolute;
    padding: 0 30px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.welcome-box__title {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.welcome-box__title::before,
.welcome-box__title:after {
    color: #009688;
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

}

.welcome-box__title::before {
    content: '{';
    left: 0;
}


.welcome-box__title:after {
    content: '}';
    right: 0;
}


.btn_animate {
    position: absolute;
    height: 50px;
    width: 30px;

    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
}

.btn_animate:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
}

@keyframes scroll_down_btn-animation {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes scroll_down_btn-animation {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/* End Section Hello */

/* Bedin Section Service */

.section_dark-cyan {
    background-color: #009688;
    color: #ffffff;
}

.service-box__svg {
    width: 60px;
}

.service-box__svg-biger {
    width: 67px;
    padding-top: 9px;
}

.service-box {
    text-align: center;
}

.service-box__title {
    margin-bottom: 50px;
}

/* End Section Service */


/* MEDIA */


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}


@media screen and (max-width: 768px) {
    .service-box__p {
        width: 50%;
        margin: 15px auto;
    }
}

@media screen and (max-width: 600px) {}

@media screen and (max-width: 576px) {
    .welcome-box__title {
        font-size: 45px;
    }

    .service-box__p {
        width: 100%;
        margin: 15px auto;
    }

}
@media only screen and (max-width : 480px) {
    .welcome-box__title {
        font-size: 35px;
    }

}


@media only screen and (max-width : 382px) {

    .welcome-box__title::before,
    .welcome-box__title:after {
        font-size: 60px;
    }

    .welcome-box__title::before {
        content: '{';
        left: 10px;
    }


    .welcome-box__title:after {
        content: '}';
        right: 10px;
    }
}